Lab22/Web References/net.azurewebsites.hads1218ws/Servicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DedicacionMedia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asignatura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DedicacionMediaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DedicacionMediaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="comprobar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="comprobarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="comprobarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DedicacionMediaSoapIn">
    <wsdl:part name="parameters" element="tns:DedicacionMedia" />
  </wsdl:message>
  <wsdl:message name="DedicacionMediaSoapOut">
    <wsdl:part name="parameters" element="tns:DedicacionMediaResponse" />
  </wsdl:message>
  <wsdl:message name="comprobarSoapIn">
    <wsdl:part name="parameters" element="tns:comprobar" />
  </wsdl:message>
  <wsdl:message name="comprobarSoapOut">
    <wsdl:part name="parameters" element="tns:comprobarResponse" />
  </wsdl:message>
  <wsdl:portType name="Servicio1Soap">
    <wsdl:operation name="DedicacionMedia">
      <wsdl:input message="tns:DedicacionMediaSoapIn" />
      <wsdl:output message="tns:DedicacionMediaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="comprobar">
      <wsdl:input message="tns:comprobarSoapIn" />
      <wsdl:output message="tns:comprobarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Servicio1Soap" type="tns:Servicio1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DedicacionMedia">
      <soap:operation soapAction="http://tempuri.org/DedicacionMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comprobar">
      <soap:operation soapAction="http://tempuri.org/comprobar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Servicio1Soap12" type="tns:Servicio1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DedicacionMedia">
      <soap12:operation soapAction="http://tempuri.org/DedicacionMedia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comprobar">
      <soap12:operation soapAction="http://tempuri.org/comprobar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio1">
    <wsdl:port name="Servicio1Soap" binding="tns:Servicio1Soap">
      <soap:address location="http://hads1218ws.azurewebsites.net/Servicio1.asmx" />
    </wsdl:port>
    <wsdl:port name="Servicio1Soap12" binding="tns:Servicio1Soap12">
      <soap12:address location="http://hads1218ws.azurewebsites.net/Servicio1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>